Repository alttabdlt/ai-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

ui: add duel outcome microinteraction aura
  app/src/components/agents/AgentDroid.tsx
  app/src/components/agents/AgentStateEffects.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

retention: route duel outcomes into rivalry progression
  backend/src/services/agentLoopService.ts
  backend/src/services/socialGraphService.ts
  docs/API.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION-PLAN.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

town3d: add arena cinematic camera and payoff beat
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

loop: add deterministic do_work fallback when llm is down
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

town3d: route duel payoffs through stable hud toasts
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

motion: add duel windup-impact-recover pose blending
  app/src/components/agents/AgentDroid.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: add duel camera pulse grammar and focus anchor
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: capture same-tick arena outcomes and momentum streaks
  app/src/components/agents/AgentDroid.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

motion: add state-specific kinetic auras and streak scaling
  app/src/components/agents/AgentDroid.tsx
  app/src/components/agents/AgentStateEffects.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: add strike-phase duel choreography and impact bursts
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: add action burst microinteraction layer
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: add action-aware kinetic trail visuals
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

motion: add action transition pulse bursts
  app/src/components/agents/AgentDroid.tsx
  app/src/components/agents/AgentStateEffects.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

agent-loop: add llm failover and rescue revival
  backend/src/services/agentLoopService.ts
  docs/API.md
  docs/ARCHITECTURE.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

town3d: add degen loop telemetry and owned-agent aura
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town3d: smooth transient fx and harden webgl recovery
  app/src/pages/Town3D.tsx
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

crew-wars: add persistent orders and town control feedback
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
  backend/prisma/migrations/20260215182000_add_crew_wars/migration.sql
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/routes/crew-wars-api.ts
  backend/src/services/agentCommandService.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/crewWarsService.ts
  backend/src/services/telegramBotService.ts
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

backend: stabilize yield distribution and backer payout timing
  backend/src/services/arenaService.ts
  backend/src/services/townService.ts
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

onboarding: add llm health probe and quickstart guidance
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/components/town/DesktopAgentHudPanel.tsx
  backend/src/routes/agent-loop-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

agent-loop: add arena liquidity backstop for deadlock recovery
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

degen: surface next mission and block invalid actions
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
  backend/src/routes/agent-loop-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

onboarding: clarify degen loop steps and optional telegram
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/components/town/DegenControlBar.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: log degen loop clarity implementation pass
  progress.md
Due: prettier --write

llm: require explicit opt-in for openrouter spend
  backend/src/config/llm.ts
  backend/src/index.ts
  backend/src/routes/agent-loop-api.ts
  backend/src/routes/town-api.ts
  backend/src/services/smartAiService.ts
  backend/src/services/telegramBotService.ts
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

env: document openrouter opt-in spend flag
  backend/.env.example
Due: none

external: add signed-claim onboarding with session tokens
  backend/.env.example
  backend/ai-town-skill/SKILL.md
  backend/src/routes/external-api.ts
  backend/src/services/externalAgentAuthService.test.ts
  backend/src/services/externalAgentAuthService.ts
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

external-skill: add onboarding sdk and multi-agent harness
  backend/ai-town-skill/SKILL.md
  backend/ai-town-skill/examples/multi-agent-onboarding-check.mjs
  backend/ai-town-skill/sdk/ai-town-external-client.mjs
  progress.md
Due: prettier --write

loop: enforce real-session controls and mission guidance
  app/src/components/PrivyWalletConnect.tsx
  app/src/components/onboarding/storage.ts
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
  backend/src/routes/agent-loop-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

loop: add ai profiles cadence and war campaign telemetry
  backend/src/routes/agent-loop-api.ts
  backend/src/routes/crew-wars-api.ts
  backend/src/routes/town-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/crewWarsService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

ui: add profile-driven onboarding and recovery guidance
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

ui: add spectator deploy flow and clarify streak labels
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
  progress.md
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

ui: remove redundant spectator deploy buttons
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: align repo docs with ai turf wars 3-phase plan
  HACKATHON-README.md
  README.md
  V2.md
  app/README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ECONOMIC-DESIGN.md
  docs/IMPLEMENTATION-PLAN.md
  docs/PRD-DEGEN-HUSTLE-LOOP-V1.md
  docs/README.md
Due: prettier --write

runtime: add phase 1 readability api endpoints
  backend/src/index.ts
  backend/src/routes/runtime-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

ui: add phase 2 readable runtime hud overlay
  app/src/components/game/ReadableRuntimeHud.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

ui: add phase 3 default/pro mode segregation
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: finalize phase 4 validation notes
  progress.md
Due: prettier --write

ui: add phase 4 in-world runtime indicators
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

chore: ignore local artifacts and output
  .gitignore
Due: none

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  cd backend && npx tsc --noEmit: any of: backend/**/*.ts
  cd app && npx tsc --noEmit: any of: app/**/*.{ts,tsx}
