Repository alttabdlt/ai-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

feat: Wheel of Fate betting system — ANNOUNCING phase with spectator wagering
  app/src/components/wheel/WheelBanner.tsx
  app/src/hooks/useWheelStatus.ts
  app/src/pages/Town3D.tsx
  backend/src/routes/wheel-api.ts
  backend/src/services/arenaService.ts
  backend/src/services/predictionService.ts
  backend/src/services/wheelOfFateService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

feat: Full-screen Wheel Arena + game caps + stress tested
  app/src/components/wheel/WheelArena.tsx
  app/src/components/wheel/WheelSpinOverlay.tsx
  app/src/hooks/useWheelStatus.ts
  app/src/pages/Town3D.tsx
  backend/src/services/arenaService.ts
  backend/src/services/wheelOfFateService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Major UI cleanup for degen audience + gameplay polish
  app/src/components/agents/AgentDroid.tsx
  app/src/components/wheel/WheelArena.tsx
  app/src/hooks/useWheelStatus.ts
  app/src/pages/Town3D.tsx
  backend/run-server.sh
  backend/src/index.ts
  backend/src/services/arenaService.ts
  backend/src/services/fileLoggerService.ts
  backend/src/services/smartAiService.ts
  backend/src/services/wheelOfFateService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

docs: comprehensive update reflecting current AI Town architecture
  AGENTS.md
  CLAUDE.md
  HACKATHON-README.md
  README.md
  backend/CLAUDE.md
Due: prettier --write

ui: nuclear simplification — kill right panel, fullscreen 3D, remove 12 polling intervals
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

feat: telegram agent chat — users talk to agents, agents decide whether to listen
  backend/src/routes/agent-loop-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

fix: telegram chat v2 — humanReply field, /wheel, /bet, dead agent handling, group chat safety
  backend/src/services/agentLoopService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

feat: External Agent API + NL Telegram bot + Gemini Flash + cleanup
  CLAUDE.md
  HACKATHON-README.md
  README.md
  app/src/components/degen/AgentBackingCard.tsx
  app/src/components/degen/AnimatedCounter.tsx
  app/src/components/degen/BackerLeaderboard.tsx
  app/src/components/degen/PredictionCard.tsx
  app/src/components/degen/PriceChart.tsx
  backend/CLAUDE.md
  backend/ai-town-skill/SKILL.md
  backend/src/index.ts
  backend/src/routes/external-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/authService.ts
  backend/src/services/imageSearchService.ts
  backend/src/services/jackpotService.ts
  backend/src/services/levelUpHandler.ts
  backend/src/services/pixelArtService.ts
  backend/src/services/scheduledTasks.ts
  backend/src/services/smartAiService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

feat: Privy wallet onboarding + $ARENA-as-inference-cost
  app/package-lock.json
  app/package.json
  app/src/App.tsx
  app/src/components/PrivyWalletConnect.tsx
  app/src/pages/Town3D.tsx
  backend/ai-town-skill/SKILL.md
  backend/src/routes/external-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

feat: OpenRouter provider + auto-upgrade agents to Gemini Flash
  backend/scripts/seed-town.ts
  backend/src/index.ts
  backend/src/services/smartAiService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

fix: stub authService + jackpotService for legacy GraphQL resolvers
  backend/src/services/authService.ts
  backend/src/services/jackpotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

feat: user onboarding flow — splash, engagement banner, landing page, Telegram inline buttons
  app/index.html
  app/src/components/onboarding/EngagementBanner.tsx
  app/src/components/onboarding/WelcomeSplash.tsx
  app/src/components/onboarding/index.ts
  app/src/pages/Landing.tsx
  app/src/pages/Town3D.tsx
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

fix: Privy crash on missing app ID — conditional provider + error boundary
  app/src/App.tsx
  app/src/components/PrivyWalletConnect.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

fix: stop PrivyInner render loop when no Privy app ID
  app/src/components/PrivyWalletConnect.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Mandatory onboarding: wallet + Telegram required before entry
  app/src/components/onboarding/index.ts
  app/src/pages/Landing.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Agent thoughts + centered swaps + Telegram /watch command
  app/src/pages/Town3D.tsx
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Fix poker fight banner: centered, max-width, live moves
  app/src/components/wheel/WheelBanner.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Auto-create towns + FPS optimization
  app/src/components/agents/AgentDroid.tsx
  app/src/components/buildings/BuildingMesh.tsx
  app/src/components/buildings/GLBBuilding.tsx
  app/src/pages/Town3D.tsx
  app/src/world/StreetLight.tsx
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

In-game onboarding overlay + Privy fix
  app/src/components/PrivyWalletConnect.tsx
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/components/onboarding/index.ts
  app/src/pages/Landing.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Redesign onboarding: 2-path flow + model picker + Privy direct hooks
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/pages/Town3D.tsx
  backend/src/routes/town-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Agent discovery system (Moltbook-inspired) + onboarding v3
  app/src/components/onboarding/OnboardingOverlay.tsx
  backend/ai-town-skill/SKILL.md
  backend/ai-town-skill/skill.json
  backend/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

My Agent tracking — auto-select, thoughts priority, YOU badge
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/components/onboarding/index.ts
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Smart onboarding — wallet→agent lookup, welcome back flow
  app/src/components/onboarding/OnboardingOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Remove dead degen/ components (AnimatedCounter import crash)
  app/src/components/degen/DegenDashboard.tsx
  app/src/components/degen/PositionTracker.tsx
  app/src/components/degen/SwapTicker.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Fix Privy HTTPS crash on LAN/mobile (HTTP)
  app/src/App.tsx
  app/src/components/PrivyWalletConnect.tsx
  app/src/components/onboarding/OnboardingOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Fix SPA catch-all for Express 5 path-to-regexp
  backend/src/index.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

fix: case-insensitive wallet lookup + 409 spawn recovery
  app/src/components/onboarding/OnboardingOverlay.tsx
  backend/src/routes/town-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

fix: /agents/me route shadowed by /agents/:id in arena-api
  app/vite.config.ts
  backend/src/routes/arena-api.ts
  backend/src/routes/town-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

fix: camera follows user's agent after onboarding completes
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Wave 2: deep fixes, dopamine loop, info quality, dead code cleanup
  app/src/components/SolanaWalletButton.tsx
  app/src/components/SolanaWalletProvider.tsx
  app/src/components/WalletConnect.tsx
  app/src/components/wheel/WheelArena.tsx
  app/src/components/wheel/WheelBanner.tsx
  app/src/components/wheel/WheelSpinOverlay.tsx
  app/src/config/wallet.tsx
  app/src/hooks/useWheelStatus.ts
  app/src/pages/Town3D.tsx
  app/src/shared/components/ErrorBoundary.tsx
  app/src/shared/hooks/useDebugSubscription.ts
  app/src/shared/hooks/useWebSocketStatus.ts
  app/src/utils/sounds.ts
  backend/reset-arena.ts
  backend/run-server.sh
  backend/run-tournament.ts
  backend/src/routes/wheel-api.ts
  backend/src/services/arenaPokerEngine.ts
  backend/src/services/arenaService.ts
  backend/src/services/gameEngineAdapter.ts
  backend/src/services/gameManagerService.ts
  backend/src/services/offchainAmmService.ts
  backend/src/services/predictionService.ts
  backend/src/services/smartAiService.ts
  backend/src/services/wheelOfFateService.ts
  backend/test-arena.sh
  backend/test-arena.ts
  backend/test-bugs.ts
  backend/test-poker.ts
  backend/test-town.ts
  backend/token-launch-result.json
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

operator: improve command receipts in telegram loop
  backend/src/services/agentLoopService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

economy: add live loop metrics and tuning pass
  backend/src/routes/agent-loop-api.ts
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

retention: add streak hooks and snapshot surfaces
  backend/src/routes/town-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

loop: add anti-idle rest redirects
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

docs: sync api and degen loop rollout status
  docs/API.md
  docs/IMPLEMENTATION-PLAN.md
  docs/PRD-DEGEN-HUSTLE-LOOP-V1.md
Due: prettier --write

loop: add strict manual action command path
  backend/src/routes/agent-loop-api.ts
  backend/src/services/agentCommandService.ts
  backend/src/services/agentLoopService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

control: wire deterministic actions to town ui and telegram
  app/src/components/town/DegenControlBar.tsx
  app/src/pages/Town3D.tsx
  backend/src/services/telegramBotService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

visual: add action-coded aura microinteractions
  app/src/components/agents/AgentDroid.tsx
  app/src/components/agents/AgentStateEffects.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: document deterministic action control surfaces
  docs/API.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION-PLAN.md
Due: prettier --write

arena: settle play_arena as turbo poker duel
  backend/src/services/agentLoopService.ts
  docs/API.md
  docs/ARCHITECTURE.md
  docs/IMPLEMENTATION-PLAN.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  cd backend && npx tsc --noEmit: any of: backend/**/*.ts
  cd app && npx tsc --noEmit: any of: app/**/*.{ts,tsx}
