Repository alttabdlt/ai-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit, cd metaverse-game && npx tsc --noEmit || true

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings 0"
  ],
  "*.{js,jsx}": [
    "prettier --write",
    "eslint --fix --max-warnings 0"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "backend/**/*.ts": [
    "cd backend && npx tsc --noEmit"
  ],
  "app/**/*.{ts,tsx}": [
    "cd app && npx tsc --noEmit"
  ],
  "metaverse-game/**/*.{ts,tsx}": [
    "cd metaverse-game && npx tsc --noEmit || true"
  ]
}

Fixed folder reorganization and import paths
  backend/prisma/migrations/20240108000000_production_scaling/migration.sql
  backend/prisma/migrations/add-cascade-deletes.sql.future
  backend/prisma/schema.prisma
  backend/src/commands/schema-commands.ts
  metaverse-game/convex/README.md
  metaverse-game/convex/_generated/api.d.ts
  metaverse-game/convex/aiTown/agent.ts
  metaverse-game/convex/aiTown/botHttp.ts
  metaverse-game/convex/aiTown/simpleWorldCleanup.ts
  metaverse-game/convex/cleanup/clearAgents.ts
  metaverse-game/convex/cleanup/clearStuckInputs.ts
  metaverse-game/convex/cleanup/orphanCleanup.ts
  metaverse-game/convex/cleanup/orphanCleanupHttp.ts
  metaverse-game/convex/cleanup/worldCleanup.ts
  metaverse-game/convex/http.ts
  metaverse-game/convex/migrations/batchRegistration.ts
  metaverse-game/convex/migrations/fixWorldInstances.ts
  metaverse-game/convex/migrations/migration.ts
  metaverse-game/convex/tests/asyncMap.test.ts
  metaverse-game/convex/tests/compression.test.ts
  metaverse-game/convex/tests/debug.ts
  metaverse-game/convex/tests/geometry.test.ts
  metaverse-game/convex/tests/historicalObject.test.ts
  metaverse-game/convex/tests/minheap.test.ts
  metaverse-game/convex/tests/testLootbox.ts
  metaverse-game/convex/tests/testRelationship.ts
  metaverse-game/convex/tests/testing.ts
  metaverse-game/convex/tests/types.test.ts
  metaverse-game/scripts/processBots.ts
  metaverse-game/src/components/FreezeButton.tsx
  metaverse-game/src/components/InventoryModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd metaverse-game && npx tsc --noEmit || true

Fixed TypeScript errors in schema-commands after game engine removal
  .husky/pre-commit
  app/src/modules/game/ARCHITECTURE.md
  backend/src/commands/schema-commands.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

Fixed cron job reference after folder reorganization
  app/src/index.css
  app/src/pages/Index.tsx
  app/src/shared/components/globe/InteractiveGlobe.tsx
  app/src/shared/components/layout/footer.tsx
  app/src/shared/components/layout/header.tsx
  app/src/shared/components/layout/layout.tsx
  metaverse-game/convex/crons.ts
  metaverse-game/src/components/Game.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit, cd metaverse-game && npx tsc --noEmit || true

Fix ghost bot issue - add validation and cleanup
  metaverse-game/convex/aiTown/idleLoot.ts
  metaverse-game/convex/crons.ts
  metaverse-game/convex/migrations/migration.ts
  metaverse-game/scripts/cleanupGhostBots.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd metaverse-game && npx tsc --noEmit || true

Fix TypeScript errors in ghost bot cleanup implementation
  metaverse-game/convex/aiTown/idleLoot.ts
  metaverse-game/convex/crons.ts
  metaverse-game/convex/migrations/migration.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd metaverse-game && npx tsc --noEmit || true

WorldSelector issue solved
  app/.env.example
  backend/.env.example
  backend/scripts/fix-channels-and-redeploy.js
  backend/scripts/full-bot-reset.js
  backend/src/graphql/resolvers/index.ts
  backend/src/graphql/schema/index.ts
  contracts/.env.example
  metaverse-game/.env.example
  metaverse-game/backend/.env.example
  metaverse-game/backend/scripts/force-recreate-agent.js
  metaverse-game/backend/src/graphql/resolvers/channel.ts
  metaverse-game/backend/src/graphql/schema/index.ts
  metaverse-game/backend/src/index.ts
  metaverse-game/backend/src/services/arenaClient.ts
  metaverse-game/backend/src/services/botSyncService.ts
  metaverse-game/backend/src/services/convexService.ts
  metaverse-game/convex/_generated/api.d.ts
  metaverse-game/convex/aiTown/botHttp.ts
  metaverse-game/convex/aiTown/clearRegistration.ts
  metaverse-game/convex/aiTown/idleGains.ts
  metaverse-game/convex/http.ts
  metaverse-game/src/graphql/queries/channels.ts
  metaverse-game/src/hooks/useUserChannels.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd metaverse-game && npx tsc --noEmit || true

Bot Sync issue fixed
  app/src/graphql/queries/channel.ts
  backend/scripts/check-reformed-bots.js
  backend/scripts/complete-stale-id-fix.js
  backend/scripts/fix-reformed1.js
  backend/scripts/fix-stale-agent-ids.js
  backend/scripts/monitor-bot-deployment.js
  backend/src/graphql/resolvers/index.ts
  backend/src/graphql/schema/metaverseSync.ts
  metaverse-game/backend/scripts/clear-bad-sync.js
  metaverse-game/backend/src/graphql/schema/metaverseSync.ts
  metaverse-game/backend/src/routes/metaverse.ts
  metaverse-game/backend/src/services/botSyncService.ts
  metaverse-game/backend/src/services/convexService.ts
  metaverse-game/convex/_generated/api.d.ts
  metaverse-game/convex/aiTown/botHttp.ts
  metaverse-game/convex/cleanup/cleanStaleAgents.ts
  metaverse-game/scripts/clean-stale-agents.js
  metaverse-game/src/components/BotSelector.tsx
  metaverse-game/src/graphql/queries/channels.ts
  metaverse-game/src/hooks/useUserChannels.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit, cd metaverse-game && npx tsc --noEmit || true

Added Sol.devnet, removed hyperevm
  .env.devnet
  .env.solana.example
  SOLANA_MIGRATION.md
  SOLANA_TESTNET_GUIDE.md
  SOLANA_TESTNET_SETUP.md
  SOL_TESTING_GUIDE.md
  app/package-lock.json
  app/package.json
  app/src/components/SolanaWalletButton.tsx
  app/src/components/SolanaWalletProvider.tsx
  app/src/components/deploy/SimpleModelSelector.tsx
  app/src/config/chains.ts
  app/src/config/simpleModels.ts
  app/src/config/solana.ts
  app/src/config/wallets.ts
  app/src/hooks/useEnergy.ts
  app/src/modules/auth/contexts/AuthContext.tsx
  app/src/modules/bot/components/deployment-status.tsx
  app/src/modules/bot/pages/Deploy.tsx
  app/src/pages/Dashboard.tsx
  app/src/pages/Index.tsx
  app/src/shared/components/layout/header.tsx
  app/src/shared/components/ui/user-dropdown.tsx
  app/src/shared/components/ui/wallet-network-button.tsx
  app/src/shared/hooks/useHypeBalance.ts
  app/vite.config.ts
  backend/package-lock.json
  backend/package.json
  backend/src/config/solana.ts
  backend/src/graphql/resolvers/index.ts
  backend/src/index.ts
  backend/src/services/authService.ts
  backend/src/services/hyperEvmPoller.ts
  backend/src/services/index.ts
  backend/src/services/solanaService.ts
  backend/src/services/transactionService.ts
  scripts/create-idle-token-devnet.sh
  scripts/create-idle-token.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Fix bot deletion and cleanup duplicate convex directory
  metaverse-game/backend/.gitignore
  metaverse-game/backend/convex/_generated/api.d.ts
  metaverse-game/backend/convex/_generated/api.js
  metaverse-game/backend/convex/_generated/dataModel.d.ts
  metaverse-game/backend/convex/_generated/server.d.ts
  metaverse-game/backend/convex/_generated/server.js
  metaverse-game/backend/src/routes/metaverse.ts
  metaverse-game/backend/src/services/botSyncService.ts
  metaverse-game/backend/src/services/convexService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd metaverse-game && npx tsc --noEmit || true

Clean up debug scripts and fix TypeScript errors
  metaverse-game/scripts/clean-stale-agents.js
  metaverse-game/src/components/chat/MessageInput.tsx
  metaverse-game/src/components/modals/InventoryModal.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd metaverse-game && npx tsc --noEmit || true

Clean up unused frontend components and directories
  app/src/components/bot/BotCard.tsx
  app/src/components/bot/BotInventoryModal.tsx
  app/src/components/deploy/CostEstimation.tsx
  app/src/components/deploy/ModelSelector.tsx
  app/src/components/deploy/SimpleCostEstimation.tsx
  app/src/components/deploy/SimpleModelSelector.tsx
  app/src/components/energy/EnergyPurchaseModal.tsx
  app/src/components/house/FurnitureInventory.tsx
  app/src/components/house/HousePlacementGrid.tsx
  app/src/components/lootbox/LootboxOpeningAnimation.tsx
  app/src/modules/game/components/AIEvaluationPanel.tsx
  app/src/modules/game/components/AIThinkingPanel.tsx
  app/src/modules/game/components/DecisionHistory.tsx
  app/src/modules/game/components/GameHeader.tsx
  app/src/modules/game/components/HandMisreadAlert.tsx
  app/src/services/pixelArtGenerator.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Fix TypeScript errors after queue system removal
  app/src/modules/metaverse/components/ClaimXPModal.tsx
  app/src/pages/Index.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Fix Solana wallet authentication system
  backend/src/graphql/resolvers/index.ts
  backend/src/services/authService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

Arena bug fixes: 12 issues from code audit
  backend/prisma/dev.db
  backend/src/index.ts
  backend/src/routes/arena-api.ts
  backend/src/services/arenaService.ts
  backend/src/services/gameManagerService.ts
  backend/src/services/smartAiService.ts
  backend/test-arena.sh
  backend/test-arena.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

fix: deep security audit + 6 bug fixes
  HACKATHON-README.md
  app/src/App.tsx
  app/src/pages/Arena.tsx
  backend/package-lock.json
  backend/package.json
  backend/prisma/dev.db
  backend/reset-arena.ts
  backend/run-tournament.ts
  backend/src/index.ts
  backend/src/routes/arena-api.ts
  backend/src/services/arenaPokerEngine.ts
  backend/src/services/arenaService.ts
  backend/src/services/monadService.ts
  backend/src/services/smartAiService.ts
  backend/test-arena.ts
  backend/test-bugs.ts
  backend/test-poker.ts
  contracts/broadcast/DeployMonad.s.sol/10143/run-1770198619.json
  contracts/broadcast/DeployMonad.s.sol/10143/run-latest.json
  contracts/cache/DeployMonad.s.sol/10143/run-1770198619.json
  contracts/cache/DeployMonad.s.sol/10143/run-latest.json
  contracts/deployments/monad-testnet.json
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

refactor: remove Solana wallet, clean frontend for Monad Arena
  app/src/App.tsx
  app/src/shared/components/layout/footer.tsx
  app/src/shared/components/layout/header.tsx
  backend/prisma/dev.db
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

feat: visual spectator views for all 3 games
  app/src/App.tsx
  app/src/pages/Arena.tsx
  app/src/pages/Match.tsx
  backend/prisma/dev.db
  backend/src/routes/arena-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

town: add 3D simcity-style view
  app/src/App.tsx
  app/src/pages/Town3D.tsx
  app/src/shared/components/layout/header.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town: fix terminal REST base and agent-loop start
  app/src/pages/AiTownTerminal.tsx
  backend/src/routes/agent-loop-api.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

ui: make /town the only frontend
  AGENTS.md
  app/src/App.tsx
  app/src/pages/AiTownTerminal.tsx
  app/src/pages/Town3D.tsx
  docs/AI-TOWN-CONCEPT.md
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Feat: add off-chain AMM for ARENA fuel
  app/src/pages/Town3D.tsx
  backend/prisma/dev.db
  backend/prisma/migrations/20260206080804_add_offchain_economy/migration.sql
  backend/prisma/schema.prisma
  backend/src/graphql/resolvers/economy.ts
  backend/src/index.ts
  backend/src/routes/arena-api.ts
  backend/src/routes/economy-api.ts
  backend/src/routes/x402-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/arenaService.ts
  backend/src/services/connect4TournamentService.ts
  backend/src/services/economyService.ts
  backend/src/services/offchainAmmService.ts
  backend/src/services/smartAiService.ts
  backend/src/services/spriteLibraryService.ts
  backend/src/services/telegramBotService.ts
  backend/src/services/townService.ts
  backend/src/types/x402.d.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

UI: show economy feed and pool stats
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

Feat: x402 skills + Town3D polish
  README.md
  app/src/App.tsx
  app/src/components/WalletConnect.tsx
  app/src/pages/Landing.tsx
  app/src/pages/Town3D.tsx
  app/src/utils/sounds.ts
  backend/src/routes/town-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/x402SkillService.ts
  docs/ECONOMIC-DESIGN.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Add agent chats and social graph
  app/src/pages/Town3D.tsx
  backend/prisma/migrations/20260207054315_add_agent_relationships/migration.sql
  backend/prisma/schema.prisma
  backend/src/routes/town-api.ts
  backend/src/services/agentConversationService.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/socialGraphService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Calibrate relationships and add chat fallback
  backend/src/services/agentConversationService.ts
  backend/src/services/socialGraphService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

Boost trade visuals and add market pulse
  app/src/pages/Town3D.tsx
  backend/src/index.ts
  backend/src/services/marketPulseService.ts
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Deployment: Dockerfile, render.yaml, railway.toml, seed script, static frontend serving
  .dockerignore
  Dockerfile
  backend/scripts/seed-town.ts
  backend/src/index.ts
  railway.toml
  render.yaml
  scripts/start-production.sh
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

Wheel of Fate: PvP game cycle, building buffs, agent PvP awareness, configurable tick speed
  backend/src/index.ts
  backend/src/routes/agent-loop-api.ts
  backend/src/routes/wheel-api.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/wheelOfFateService.ts
  docs/WHEEL-OF-FATE-PLAN.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit
