Repository alttabdlt/ai-arena: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

backend: add operator control plane and prune stale docs
  backend/CLAUDE.md
  backend/prisma/migrations/20260213120000_add_agent_goal_tracks/migration.sql
  backend/prisma/migrations/20260213153000_add_operator_control_plane/migration.sql
  backend/src/graphql/resolvers/jackpot.ts
  backend/src/routes/operator-api.ts
  backend/src/services/agentGoalTrackService.ts
  backend/src/services/authService.ts
  backend/src/services/jackpotService.ts
  backend/src/services/operatorIdentityService.ts
  backend/src/services/operatorServiceError.ts
  backend/src/services/wheelOfFateService.ts
  backend/src/services/worldEventService.ts
  docs/AI-TOWN-CONCEPT.md
  docs/HACKATHON-STRATEGY.md
  docs/PLAN-CRITIQUE.md
  docs/WHEEL-OF-FATE-PLAN.md
  docs/WORLD-DESIGN-V3.md
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit

town: let onboarding own sign-in/deploy entry controls
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

deploy: exclude /api from SPA rewrite
  app/vercel.json
Due: prettier --write

ui: remove duplicate sign-in CTA in spectator header
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

town-ui: add explicit app loading and canvas recovery indicators
  app/src/App.tsx
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: log live tunnel loading and sign-in clarity fixes
  progress.md
Due: prettier --write

onboarding: make auth gate opaque and remove spectator skip
  app/src/components/onboarding/OnboardingOverlay.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: update onboarding auth-gate cleanup notes
  progress.md
Due: prettier --write

funding: avoid onboarding bounce and resolve wallet agent before modal
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

docs: record funding flow onboarding-bounce fix
  progress.md
Due: prettier --write

fix: Fund button works for returning users without live Privy session
  app/src/pages/Town3D.tsx
Due: prettier --write, eslint --fix --max-warnings 0, cd app && npx tsc --noEmit

autonomy: harden economy accounting and add CI soak gates
  .github/workflows/autonomy-soak.yml
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  app/CLAUDE.md
  app/README.md
  app/src/components/onboarding/OnboardingOverlay.tsx
  app/src/components/town/DesktopActivityPanel.tsx
  app/src/components/town/DesktopAgentHudPanel.tsx
  app/src/hooks/useWheelStatus.ts
  app/src/pages/Town3D.tsx
  backend/prisma/migrations/20260218013000_add_economy_budgets_and_ledger/migration.sql
  backend/prisma/migrations/20260218021500_reconcile_agent_plot_drift/migration.sql
  backend/prisma/schema.prisma
  backend/src/__tests__/helpers/fixtures.ts
  backend/src/__tests__/mocks/smartAiService.mock.ts
  backend/src/index.ts
  backend/src/routes/economy-api.ts
  backend/src/routes/test-utils-api.ts
  backend/src/routes/town-api.ts
  backend/src/services/__tests__/agent-autonomy-flow.integration.test.ts
  backend/src/services/agentLoopService.test.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/arenaService.ts
  backend/src/services/economyAccountingService.ts
  backend/src/services/offchainAmmService.ts
  backend/src/services/townService.test.ts
  backend/src/services/townService.ts
  backend/src/services/x402SkillService.ts
  docs/API.md
  docs/ARCHITECTURE.md
  docs/ECONOMIC-DESIGN.md
  docs/IMPLEMENTATION-PLAN.md
  docs/PRD-DEGEN-HUSTLE-LOOP-V1.md
  docs/PUBLIC-RELEASE-CHECKLIST.md
  docs/README.md
  progress.md
  scripts/autonomy-report-summary.mjs
  scripts/e2e-autonomy-smoke.mjs
  scripts/e2e-autonomy-soak.mjs
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

autonomy: add economy audit HUD and soak gate checks
  .github/workflows/autonomy-soak.yml
  .github/workflows/ci.yml
  app/src/components/town/DesktopActivityPanel.tsx
  app/src/pages/Town3D.tsx
  backend/src/routes/agent-loop-api.ts
  backend/src/services/__tests__/economy-audit.integration.test.ts
  backend/src/services/agentLoopService.ts
  backend/src/services/externalAgentAuthService.test.ts
  scripts/autonomy-report-summary.mjs
  scripts/e2e-autonomy-soak.mjs
Due: prettier --write, eslint --fix --max-warnings 0, cd backend && npx tsc --noEmit, cd app && npx tsc --noEmit

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  eslint --fix --max-warnings 0: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  cd backend && npx tsc --noEmit: any of: backend/**/*.ts
  cd app && npx tsc --noEmit: any of: app/**/*.{ts,tsx}
